html {
  font-size: 12px; }

body {
  margin: 0;
  font-family: 'Commissioner';
  color: black;
  height: 100vh; }

header {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  background-color: #d3d3e0;
  box-shadow: 0px 4px 4px #c9c0c0;
  grid-area: header;
  color: #4e4a4a; }

footer {
  background-color: #c9c0c0;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4e4a4a; }

.main {
  grid-area: content;
  padding: 1rem 4rem 1rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 0.5fr)); }
  @media (max-width: 720px) {
    .main {
      margin: 0 auto; } }
  .main__product {
    margin: 0.5rem;
    border: 2px solid #d3d3e0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #c9c0c0;
    position: relative;
    max-height: 300px; }
    .main__product-data {
      padding-left: 1rem;
      padding-bottom: 1rem;
      font-size: 1.2rem; }
    .main__product-button {
      background: none;
      border: 1px solid #4e4a4a;
      border-radius: 4px;
      color: #4e4a4a;
      padding: 0.3rem;
      position: relative;
      z-index: 30; }
    .main__product-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.473);
      z-index: 10; }

.main__product img {
  display: block;
  margin: 0 auto; }

.grid-container {
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: 7% 1fr 5%;
  height: 100vh; }

.navigation__menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 30%;
  background-color: white;
  z-index: 40; }
  .navigation__menu-header {
    display: flex;
    justify-content: space-between; }

.navigation__button {
  width: 4rem;
  border: none;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #4e4a4a;
  background: none; }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 10px solid #4e4a4a;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  border-top: 10px solid white;
  animation: spin 3s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
