html {
  font-size: 12px;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Commissioner';
  color: black;
  height: 100vh; }

.header {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  background-color: #d3d3e0;
  box-shadow: 0px 4px 4px #c9c0c0;
  grid-area: header;
  color: #4e4a4a; }

.link {
  text-decoration: none;
  color: #4e4a4a; }

footer {
  background-color: #c9c0c0;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4e4a4a; }

.main {
  grid-area: content;
  padding: 1rem 4rem 1rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 0.5fr)); }
  @media (max-width: 720px) {
    .main {
      margin: 0 auto; } }
  .main__product {
    margin: 0.5rem;
    border: 2px solid #d3d3e0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #c9c0c0;
    position: relative;
    max-height: 300px; }
    .main__product-data {
      padding-left: 1rem;
      padding-bottom: 1rem;
      font-size: 1.2rem; }
    .main__product-button {
      background: none;
      border: 1px solid #4e4a4a;
      border-radius: 4px;
      color: #4e4a4a;
      padding: 0.3rem;
      transition: all 0.2s linear;
      display: block;
      position: relative;
      z-index: 30; }
      .main__product-button:hover {
        cursor: pointer;
        color: #2fff36;
        border: 1px solid #63ff2f;
        transition: all 0.2s linear; }
    .main__product-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.473);
      z-index: 10; }

.main__product img {
  display: block;
  margin: 0 auto;
  max-width: 170px;
  max-height: 170px;
  margin-top: 5px; }

.grid-container {
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: 7% 1fr 5%;
  height: 100vh; }

.navigation__menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;
  background-color: white;
  z-index: 40; }
  .navigation__menu-header {
    display: flex;
    justify-content: space-between; }

.navigation__button {
  width: 4rem;
  border: none;
  position: relative;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #4e4a4a;
  background: none; }
  .navigation__button-cartitems {
    background-color: red;
    color: white;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1.1rem;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 50%; }
  .navigation__button:hover {
    cursor: pointer; }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 10px solid #4e4d4a;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  border-top: 10px solid white;
  animation: spin 3s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.rating__input {
  display: none; }

.product__page {
  display: grid;
  padding-left: 1rem;
  grid-template-columns: 20% 50% 30%;
  column-gap: 1rem; }
  @media (max-width: 740px) {
    .product__page {
      grid-template-columns: 50% 50%; } }
  @media (max-width: 500px) {
    .product__page {
      display: block; } }
  .product__page img {
    margin-top: 1.5rem; }

.product__info {
  min-width: 120px; }
  @media (max-width: 740px) {
    .product__info {
      grid-column: 1/2; } }

.product__actions {
  margin-right: 6rem;
  margin-top: 1.5rem;
  padding: 1rem;
  border: 1px solid #4e4a4a;
  border-radius: 4px;
  max-width: 50%; }
  .product__actions-button {
    background: none;
    border: 1px solid #4e4a4a;
    border-radius: 4px;
    color: #4e4a4a;
    padding: 0.3rem;
    transition: all 0.2s linear;
    display: block;
    margin-top: 1rem;
    width: 100%; }
    .product__actions-button:hover {
      cursor: pointer;
      color: #2fff36;
      border: 1px solid #63ff2f;
      transition: all 0.2s linear; }
  @media (max-width: 740px) {
    .product__actions-wrapper {
      grid-column: 2/3;
      grid-row: 1/2; } }

.cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .cart__items {
    width: 60%; }
  .cart__item {
    border-bottom: 1px solid grey;
    border-collapse: collapse;
    overflow: auto;
    padding: 1rem;
    position: relative; }
  .cart__actions {
    margin-right: 3rem;
    border: 1px solid grey;
    width: 30%;
    padding: 1rem; }

.form {
  width: 100%; }
  .form__wrapper {
    width: 30%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    border: 1px solid #4e4a4a;
    border-radius: 4px; }

.form__wrapper label {
  display: block; }

.form textarea {
  width: 100%;
  min-height: 200px; }

.form__wrapper button {
  display: block;
  margin-bottom: 1rem;
  width: 100%; }

.form__wrapper input {
  width: 100%;
  margin-bottom: 1rem; }

.admin__table {
  width: 100%;
  margin: auto; }

.admin__button {
  background: none;
  border: 1px solid #4e4a4a;
  border-radius: 4px;
  color: #4e4a4a;
  padding: 0.3rem;
  transition: all 0.2s linear;
  display: block;
  display: inline;
  margin-right: 4px;
  background-color: white; }
  .admin__button:hover {
    cursor: pointer;
    color: #2fff36;
    border: 1px solid #63ff2f;
    transition: all 0.2s linear; }
  .admin__button-delete:hover {
    cursor: pointer;
    color: red;
    border: 1px solid red;
    transition: all 0.2s linear; }

.admin__table tbody tr:nth-child(odd) {
  background-color: #bdb6b6; }

.admin__table td, th {
  padding: 4px; }

.delete__warning {
  margin: auto;
  border: 1px solid black;
  border-radius: 4px;
  width: 250px;
  padding: 0.5rem; }
  .delete__warning-buttons {
    display: flex;
    justify-content: space-around; }
